<header>
  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="mdi-navigation-menu"></i></a></div>

  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a id="logo-container" href="{{site.url}}" class="brand-logo">logo</a></li>
    <!-- <li class="search">
      <div class="search-wrapper card">
        <input id="search"><i class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li> -->
    {% if site.data.category %}

      {% for cat in site.data.category %}

        {% if cat.subcat != null %}
      
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">{{cat.title}}</a>
              <div class="collapsible-body">
                <ul>
                  {% for subcat in cat.subcat %}
                  <li><a href="{{site.categories[subcat.catname]}}">{{subcat.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
          </ul>
        </li>
      
        {% else %}

        <li class="bold"><a href="about.html" class="waves-effect waves-teal">{{cat.title}}</a></li>

        {% endif %}

      {% endfor %}

    {% endif %}
  </ul>
</header>